:root[data-theme='dark'] {

  --color-bg: #0e0e0e;
  --color-text: #ffffff;

  --color-primary: #6366f1;
  --background: #1d1f21;
  --secondary: #c8d2dc;
  --text: #fcffff;
  --color-1: #3626ea;
  --color-2: #7e51ff;
  --color-3: #86a8ff;
  --frames: #212426;
  --secondary-green: #c5ff98;
  --10-secondary: rgba(197, 255, 152, 0.1);
  --stroke: #525960;
  --frame-2: #2c2f33;

  --background-primary-button: linear-gradient(130deg, #68c9ff 0%, #d1b5ff 99.47%);

  --background-secondary-button:linear-gradient(130deg, rgba(104, 201, 255, 0.1) 0%, rgba(209, 181, 255, 0.1) 99.47%);
  --background-secondary-button-hover:linear-gradient(130deg, rgba(105, 207, 253, 0.2) 0%, rgba(182, 160, 225, 0.2) 99.47%);
  --text-secondary-button: linear-gradient(130deg, #68c9ff 0%, #d1b5ff 50%,#68c9ff 99%);
  --danger: #ff3030;
}