:root[data-theme='light'] {

  --color-bg: #ffffff;
  --color-text: #0f172a;


  --color-primary: #4f46e5;


  --background: #f8fafc;
  --frame-2: #eef2f7;
  --frames: #e5e7eb;


  --text: #0f172a;
  --secondary: #475569;


  --color-1: #4338ca;
  --color-2: #6366f1;
  --color-3: #93c5fd;


  --stroke: #cbd5e1;

  --secondary-green: #4ade80;
  --10-secondary: rgba(74, 222, 128, 0.12);
}
